# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
.venv/
env/

# Variáveis de ambiente / segredos
.env

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# DVC (o "storage" local não vai pro Git, só as referências .dvc)
/dvc-storage
